[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "opt-base-framework @ git+https://github.com/VictorNMou/opt-base-framework.git@{{ framework_ref }}",
]
